<template name="navbar">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar-items"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">records</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav">
                    <li class="{{ isActivePath '/' }}">
                        <a href="/">Início</a>
                    </li>
                    <li class="{{ isActivePath '/equipments' }}">
                        <a href="/equipments">Equipamentos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
